Repository kulshekhar/ts-jest: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,cjs,mjs,jsx,ts,tsx}": ["eslint --fix"],
  "*.{yml,yaml,md}": ["prettier --write"]
}

build: replace `glob` and `glob-gitignore` with `fast-glob`
  package-lock.json
  package.json
  scripts/lib/bundle.js
Due: eslint --fix

ci: introduce workflow to deploy preview doc for PRs
  .github/actions/setup-docspace/action.yml
  .github/actions/setup-node/action.yml
  .github/actions/setup-workspace/action.yml
  .github/workflows/doc-ci.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/pr-docs-check.yml
  website/docusaurus.config.ts
Due: eslint --fix, prettier --write

docs: cleanup obsolete versioned sidebar configs
  website/versioned_sidebars/version-26.5-sidebars.json
  website/versioned_sidebars/version-27.0-sidebars.json
  website/versioned_sidebars/version-27.1-sidebars.json
Due: none

fix: replace `ejs` with `handlebars` due to security issues
  package-lock.json
  package.json
  src/cli/config/init.ts
Due: eslint --fix

ci: add code scanning workflow
  .github/workflows/audit.yml
Due: prettier --write

chore(release): 29.4.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

build: remove `@types/handlebars` type
  package-lock.json
  package.json
Due: none

build: bump `typescript` to 5.9.2
  examples/js-with-babel/package.json
  examples/js-with-ts/package.json
  examples/monorepo-app/package.json
  examples/package-lock.json
  examples/react-app/package.json
  examples/ts-only/package.json
  package-lock.json
  package.json
  website/package-lock.json
  website/package.json
Due: none

build: bump `jest` to v30 for example apps
  examples/js-with-babel/package.json
  examples/js-with-ts/package.json
  examples/monorepo-app/package.json
  examples/package-lock.json
  examples/ts-only/package.json
Due: none
