Repository kulshekhar/ts-jest: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,cjs,mjs,jsx,ts,tsx}": ["eslint --fix"],
  "*.{yml,yaml,md}": ["prettier --write"]
}

chore(release): 29.4.10
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

ci: refactor release workflow
  .github/actions/setup-workspace/action.yml
  .github/workflows/release-and-publish.yml
  .github/workflows/release.yml
  .github/workflows/tag-release.yml
Due: prettier --write

fix: preserve Bundler on the CJS path under TypeScript >= 6
  src/legacy/compiler/ts-compiler.spec.ts
  src/legacy/compiler/ts-compiler.ts
Due: eslint --fix

chore(release): 29.4.11
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: stop value-importing typescript outside the compiler module seam
  src/legacy/compiler/ts-compiler.spec.ts
  src/legacy/compiler/ts-compiler.ts
  src/legacy/ts-jest-transformer.ts
  src/transpilers/typescript/transpile-module.spec.ts
  src/transpilers/typescript/transpile-module.ts
Due: eslint --fix

feat: resolve the compiler API for native TypeScript 7 projects
  package.json
  src/legacy/config/__snapshots__/compiler-api-resolver.spec.ts.snap
  src/legacy/config/compiler-api-resolver.spec.ts
  src/legacy/config/compiler-api-resolver.ts
  src/legacy/config/config-set.spec.ts
  src/legacy/config/config-set.ts
  src/utils/messages.ts
Due: eslint --fix

feat: add experimental native type-checking via diagnostics.engine
  src/legacy/compiler/native-diagnostics-service.spec.ts
  src/legacy/compiler/native-diagnostics-service.ts
  src/legacy/compiler/ts-compiler-native-engine.spec.ts
  src/legacy/compiler/ts-compiler.ts
  src/legacy/config/config-set-native-engine.spec.ts
  src/legacy/config/config-set.spec.ts
  src/legacy/config/config-set.ts
  src/types.ts
Due: eslint --fix

perf: cache native default-project resolutions per snapshot
  src/legacy/compiler/native-diagnostics-service.ts
Due: eslint --fix

fix: silence TypeScript 6.x deprecation errors during compilation
  src/legacy/config/config-set-ts6-compat.spec.ts
  src/legacy/config/config-set.ts
Due: eslint --fix

build: sync package-lock with the widened typescript peer range
  package-lock.json
Due: none
