Repository kulshekhar/ts-jest: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,cjs,mjs,jsx,ts,tsx}": ["eslint --fix"],
  "*.{yml,yaml,md}": ["prettier --write"]
}

docs: document TypeScript 7 support and diagnostics.engine
  website/docs/getting-started/options/compiler.md
  website/docs/getting-started/options/diagnostics.md
Due: prettier --write

fix: reset native diagnostics snapshot-scoped state on dispose
  src/legacy/compiler/native-diagnostics-service.spec.ts
  src/legacy/compiler/native-diagnostics-service.ts
Due: eslint --fix

fix(compiler): support TypeScript 7 compatibility aliases
  src/__mocks__/tsconfig-no-module-resolution.json
  src/legacy/compiler/ts-compiler.spec.ts
  src/legacy/compiler/ts-compiler.ts
  src/utils/importer.spec.ts
  src/utils/importer.ts
  src/utils/messages.ts
Due: eslint --fix

test(e2e): add TypeScript compatibility matrix
  .github/workflows/ci.yml
  e2e/typescript-compatibility/__tests__/compat.spec.ts
  e2e/typescript-compatibility/__tests__/hoist.spec.ts
  e2e/typescript-compatibility/jest-compiler-cjs.config.cjs
  e2e/typescript-compatibility/jest-compiler-esm.config.cjs
  e2e/typescript-compatibility/jest-config.cjs
  e2e/typescript-compatibility/jest-explicit-node10.config.cjs
  e2e/typescript-compatibility/jest-transpiler-cjs.config.cjs
  e2e/typescript-compatibility/jest-transpiler-esm.config.cjs
  e2e/typescript-compatibility/public-types.ts
  e2e/typescript-compatibility/src/dependency.ts
  e2e/typescript-compatibility/src/source-map.ts
  e2e/typescript-compatibility/src/transformed.ts
  e2e/typescript-compatibility/transformer.cjs
  e2e/typescript-compatibility/tsconfig-cjs-explicit-node10.json
  e2e/typescript-compatibility/tsconfig-cjs-isolated.json
  e2e/typescript-compatibility/tsconfig-cjs.json
  e2e/typescript-compatibility/tsconfig-esm-isolated.json
  e2e/typescript-compatibility/tsconfig-esm.json
  e2e/typescript-compatibility/tsconfig-public-types.json
  scripts/test-typescript-compatibility.js
Due: eslint --fix, prettier --write

docs: explain TypeScript 7 compatibility setup
  website/docs/getting-started/installation.md
  website/docs/getting-started/options/compiler.md
  website/docs/guides/typescript-7.md
  website/sidebars.js
Due: eslint --fix, prettier --write

fix: address TypeScript 7 review feedback
  scripts/test-typescript-compatibility.js
  src/legacy/compiler/ts-compiler.ts
  website/docs/guides/typescript-7.md
Due: eslint --fix, prettier --write

docs: mention TypeScript 7 setup in README
  README.md
Due: prettier --write

docs: clarify TypeScript version prerequisites
  README.md
Due: prettier --write

chore(release): 29.4.12
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

build: remove duplicated typescript eslint deps
  package-lock.json
  package.json
Due: none

perf(compiler): skip resolution mode for legacy resolvers
  src/legacy/compiler/ts-compiler.spec.ts
  src/legacy/compiler/ts-compiler.ts
Due: eslint --fix
