Repository kulshekhar/ts-jest: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,cjs,mjs,jsx,ts,tsx}": ["eslint --fix"],
  "*.{yml,yaml,md}": ["prettier --write"]
}

chore(release): 29.4.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

ci: run `npm ci --ignore-scripts` for workflows
  .github/actions/setup-docspace/action.yml
  .github/actions/setup-workspace/action.yml
  .github/workflows/release-and-publish.yml
  scripts/test-examples.js
Due: eslint --fix, prettier --write

ci: enhance security for Renovate PRs
  renovate.json
Due: none

build: replace `conventional-changelog-cli` dep
  package-lock.json
  package.json
Due: none

fix: allow filtering modern module warning message with diagnostic code
  src/config/diagnostics.ts
  src/config/index.ts
  src/legacy/compiler/ts-compiler.spec.ts
  src/legacy/compiler/ts-compiler.ts
  src/legacy/config/config-set.ts
  src/transpilers/typescript/transpile-module.ts
  src/utils/messages.ts
Due: eslint --fix

refactor: improve message about using Node16/18/Next
  src/config/index.ts
  src/legacy/compiler/ts-compiler.spec.ts
  src/legacy/compiler/ts-compiler.ts
  src/legacy/config/config-set.ts
  src/transpilers/typescript/transpile-module.ts
  src/utils/diagnostics.ts
  src/utils/index.ts
  src/utils/messages.ts
Due: eslint --fix

chore(release): 29.4.5
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write
