Repository kulshekhar/ts-jest: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,cjs,mjs,jsx,ts,tsx}": ["eslint --fix"],
  "*.{yml,yaml,md}": ["prettier --write"]
}

Update installation.md
  website/versioned_docs/version-29.3/getting-started/installation.md
Due: prettier --write

docs: create doc for v29.4
  website/package-lock.json
  website/versioned_docs/version-29.0/guides/react-native.md
  website/versioned_docs/version-29.2/getting-started/presets.md
  website/versioned_docs/version-29.2/guides/react-native.md
  website/versioned_docs/version-29.3/getting-started/presets.md
  website/versioned_docs/version-29.3/guides/react-native.md
  website/versioned_docs/version-29.4/babel7-or-ts.md
  website/versioned_docs/version-29.4/contributing.md
  website/versioned_docs/version-29.4/debugging.md
  website/versioned_docs/version-29.4/getting-started/installation.md
  website/versioned_docs/version-29.4/getting-started/options.md
  website/versioned_docs/version-29.4/getting-started/options/astTransformers.md
  website/versioned_docs/version-29.4/getting-started/options/babelConfig.md
  website/versioned_docs/version-29.4/getting-started/options/compiler.md
  website/versioned_docs/version-29.4/getting-started/options/diagnostics.md
  website/versioned_docs/version-29.4/getting-started/options/isolatedModules.md
  website/versioned_docs/version-29.4/getting-started/options/stringifyContentPathRegex.md
  website/versioned_docs/version-29.4/getting-started/options/tsconfig.md
  website/versioned_docs/version-29.4/getting-started/options/useESM.md
  website/versioned_docs/version-29.4/getting-started/paths-mapping.md
  website/versioned_docs/version-29.4/getting-started/presets.md
  website/versioned_docs/version-29.4/getting-started/version-checking.md
  website/versioned_docs/version-29.4/guides/esm-support.md
  website/versioned_docs/version-29.4/guides/hybrid-node-module.md
  website/versioned_docs/version-29.4/guides/mock-es6-class.md
  website/versioned_docs/version-29.4/guides/react-native.md
  website/versioned_docs/version-29.4/guides/troubleshooting.md
  website/versioned_docs/version-29.4/guides/using-with-monorepo.md
  website/versioned_docs/version-29.4/introduction.md
  website/versioned_docs/version-29.4/migration.md
  website/versioned_docs/version-29.4/processing.md
  website/versioned_sidebars/version-29.4-sidebars.json
  website/versions.json
Due: prettier --write

ci: add Node 22 to CI
  .github/workflows/ci.yml
  .github/workflows/release-and-publish.yml
Due: prettier --write

ci: fix node version for workflows
  .github/actions/setup-workspace/action.yml
Due: prettier --write

Fix broken link for esm guide
  website/docs/getting-started/installation.md
Due: prettier --write

docs: add `trailingSlash: false` to doc config
  website/docs/introduction.md
  website/docusaurus.config.ts
  website/versioned_docs/version-28.0/introduction.md
  website/versioned_docs/version-29.0/introduction.md
  website/versioned_docs/version-29.2/introduction.md
  website/versioned_docs/version-29.3/introduction.md
  website/versioned_docs/version-29.4/introduction.md
Due: eslint --fix, prettier --write

build: fix npm audit issue
  package-lock.json
Due: none

build: replace `glob` and `glob-gitignore` with `fast-glob`
  package-lock.json
  package.json
  scripts/lib/bundle.js
Due: eslint --fix

ci: introduce workflow to deploy preview doc for PRs
  .github/actions/setup-docspace/action.yml
  .github/actions/setup-node/action.yml
  .github/actions/setup-workspace/action.yml
  .github/workflows/doc-ci.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/pr-docs-check.yml
  website/docusaurus.config.ts
Due: eslint --fix, prettier --write
