Repository kulshekhar/ts-jest: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

test: add dynamic import code test for `transpile-module`
  src/transpilers/typescript/transpile-module.spec.ts
Due: eslint --fix

docs: add Hybrid Node module doc about `Node16/NodeNext`
  website/docs/guides/hybrid-node-module.md
  website/sidebars.js
  website/versioned_docs/version-29.3/guides/hybrid-node-module.md
  website/versioned_sidebars/version-29.3-sidebars.json
Due: eslint --fix, prettier --write

build: fix npm audit issue for `website`
  website/package-lock.json
Due: none

build: use faster mode to build/serve doc
  website/babel.config.js
  website/docusaurus.config.ts
  website/package-lock.json
  website/package.json
Due: eslint --fix

fix: only show warning about `allowJs` for `isolatedModules: false`
  src/legacy/compiler/ts-compiler.spec.ts
  src/legacy/compiler/ts-compiler.ts
  src/legacy/ts-jest-transformer.spec.ts
  src/legacy/ts-jest-transformer.ts
Due: eslint --fix

fix: transpile `js` files from `node_modules` whenever required
  src/__helpers__/dedent-string.ts
  src/legacy/ts-jest-transformer.spec.ts
  src/legacy/ts-jest-transformer.ts
  src/transpilers/typescript/transpile-module.spec.ts
Due: eslint --fix

fix: transpile `js` files from `node_modules` whenever Jest asks (#4791)
  src/__helpers__/dedent-string.ts
  src/legacy/compiler/ts-compiler.spec.ts
  src/legacy/compiler/ts-compiler.ts
  src/legacy/ts-jest-transformer.spec.ts
  src/legacy/ts-jest-transformer.ts
  src/transpilers/typescript/transpile-module.spec.ts
Due: eslint --fix

chore(release): 29.3.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

build: update `renovate` config
  renovate.json
Due: none

build: ignore sonar file from npm publish
  .npmignore
Due: none

build: update tsconfig to fix errors with `commitlint.config.ts`
  e2e/transform-tsx/tsconfig.json
  e2e/transformer-options/tsconfig.json
  e2e/tsconfig-cjs.spec.json
  e2e/tsconfig-esm.spec.json
  e2e/tsconfig-js.json
  e2e/tsconfig-tsx.json
  jest.config.ts
  tsconfig.base.json
  tsconfig.build.json
  tsconfig.json
Due: eslint --fix

build: use same build target as base tsconfig
  tsconfig.build.json
Due: none

test: remove unnecessary test code
  src/legacy/ts-jest-transformer.spec.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,cjs,mjs,jsx,ts,tsx}
  prettier --write: any of: *.{yml,yaml,md}
