Repository kulshekhar/ts-jest: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,cjs,mjs,jsx,ts,tsx}": ["eslint --fix"],
  "*.{yml,yaml,md}": ["prettier --write"]
}

ci: update deploy doc step
  .github/workflows/doc-generator.yml
Due: prettier --write

refactor: remove `update-e2e` script
  package.json
  scripts/update-e2e.js
Due: eslint --fix

build: add running `prettier` to `lint-staged`
  .lintstagedrc
Due: none

ci: improve workflows
  .github/actions/setup-workspace/action.yml
  .github/workflows/ci.yml
  .github/workflows/prepare-cache.yml
  .github/workflows/test.yml
Due: prettier --write

fix: set `customConditions` to `undefined` in `TsCompiler`
  src/legacy/compiler/__snapshots__/ts-compiler.spec.ts.snap
  src/legacy/compiler/ts-compiler.spec.ts
  src/legacy/compiler/ts-compiler.ts
Due: eslint --fix

feat: support tsconfig references
  src/legacy/config/config-set.ts
Due: eslint --fix

fix: fixing early return issue + function rename
  src/legacy/config/config-set.ts
Due: eslint --fix

fix: fixing tsconfig file read issue + variable renames
  src/legacy/config/config-set.ts
Due: eslint --fix

fix: fixing to pass existing test cases + fixing some tests
  src/legacy/config/config-set.spec.ts
  src/legacy/config/config-set.ts
Due: eslint --fix

[copilot] use ts util to get the actual tsconfig name for project reference
  src/legacy/config/config-set.ts
Due: eslint --fix

test: added an e2e test for the project reference case
  e2e/package-lock.json
  e2e/package.json
  e2e/tsconfig-projects/jest-compiler-cjs.config.ts
  e2e/tsconfig-projects/jest-compiler-esm.config.ts
  e2e/tsconfig-projects/jest-transpiler-cjs.config.ts
  e2e/tsconfig-projects/jest-transpiler-esm.config.ts
  e2e/tsconfig-projects/package.json
  e2e/tsconfig-projects/src/foo.spec.ts
  e2e/tsconfig-projects/src/foo.ts
  e2e/tsconfig-projects/tsconfig.json
  e2e/tsconfig-projects/tsconfig.spec.json
  e2e/tsconfig-projects/tsconfig.src.json
  src/legacy/config/config-set.ts
Due: eslint --fix

build: fix audit problem for `website` deps
  website/package-lock.json
Due: none

refactor: deprecate `RawCompilerOptions` interface
  package-lock.json
  package.json
  scripts/generate-raw-compiler-options.js
  scripts/post-build.js
  src/config/index.ts
  src/config/types.ts
  src/legacy/config/config-set.ts
  src/raw-compiler-options.ts
  src/types.ts
Due: eslint --fix

docs: update new compiler options interface
  website/docs/getting-started/presets.md
Due: prettier --write

chore(release): 29.3.0
  CHANGELOG.md
  package-lock.json
  package.json
  website/package.json
  website/versioned_docs/version-29.3/babel7-or-ts.md
  website/versioned_docs/version-29.3/contributing.md
  website/versioned_docs/version-29.3/debugging.md
  website/versioned_docs/version-29.3/getting-started/installation.md
  website/versioned_docs/version-29.3/getting-started/options.md
  website/versioned_docs/version-29.3/getting-started/options/astTransformers.md
  website/versioned_docs/version-29.3/getting-started/options/babelConfig.md
  website/versioned_docs/version-29.3/getting-started/options/compiler.md
  website/versioned_docs/version-29.3/getting-started/options/diagnostics.md
  website/versioned_docs/version-29.3/getting-started/options/isolatedModules.md
  website/versioned_docs/version-29.3/getting-started/options/stringifyContentPathRegex.md
  website/versioned_docs/version-29.3/getting-started/options/tsconfig.md
  website/versioned_docs/version-29.3/getting-started/options/useESM.md
  website/versioned_docs/version-29.3/getting-started/paths-mapping.md
  website/versioned_docs/version-29.3/getting-started/presets.md
  website/versioned_docs/version-29.3/getting-started/version-checking.md
  website/versioned_docs/version-29.3/guides/esm-support.md
  website/versioned_docs/version-29.3/guides/mock-es6-class.md
  website/versioned_docs/version-29.3/guides/react-native.md
  website/versioned_docs/version-29.3/guides/troubleshooting.md
  website/versioned_docs/version-29.3/guides/using-with-monorepo.md
  website/versioned_docs/version-29.3/introduction.md
  website/versioned_docs/version-29.3/migration.md
  website/versioned_docs/version-29.3/processing.md
  website/versioned_sidebars/version-29.3-sidebars.json
  website/versions.json
Due: prettier --write
