Repository kulshekhar/ts-jest: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs: improve `astTransformers` doc
  website/docs/getting-started/options/astTransformers.md
  website/versioned_docs/version-29.0/getting-started/options/astTransformers.md
  website/versioned_docs/version-29.2/getting-started/options/astTransformers.md
  website/versioned_docs/version-29.3/getting-started/options/astTransformers.md
Due: prettier --write

chore(release): 29.3.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

docs: improve support ESM doc
  website/docs/guides/esm-support.md
  website/versioned_docs/version-29.0/guides/esm-support.md
  website/versioned_docs/version-29.2/guides/esm-support.md
  website/versioned_docs/version-29.3/guides/esm-support.md
Due: prettier --write

docs: use code block title to display example file name
  website/docs/getting-started/options.md
  website/docs/getting-started/options/astTransformers.md
  website/docs/getting-started/options/babelConfig.md
  website/docs/getting-started/options/compiler.md
  website/docs/getting-started/options/diagnostics.md
  website/docs/getting-started/options/isolatedModules.md
  website/docs/getting-started/options/stringifyContentPathRegex.md
  website/docs/getting-started/options/tsconfig.md
  website/docs/getting-started/options/useESM.md
  website/docs/getting-started/paths-mapping.md
  website/docs/getting-started/presets.md
  website/docs/getting-started/version-checking.md
  website/docs/guides/esm-support.md
  website/docs/guides/mock-es6-class.md
  website/docs/guides/react-native.md
  website/docs/guides/troubleshooting.md
  website/versioned_docs/version-29.3/getting-started/options.md
  website/versioned_docs/version-29.3/getting-started/options/astTransformers.md
  website/versioned_docs/version-29.3/getting-started/options/babelConfig.md
  website/versioned_docs/version-29.3/getting-started/options/compiler.md
  website/versioned_docs/version-29.3/getting-started/options/diagnostics.md
  website/versioned_docs/version-29.3/getting-started/options/isolatedModules.md
  website/versioned_docs/version-29.3/getting-started/options/stringifyContentPathRegex.md
  website/versioned_docs/version-29.3/getting-started/options/tsconfig.md
  website/versioned_docs/version-29.3/getting-started/options/useESM.md
  website/versioned_docs/version-29.3/getting-started/paths-mapping.md
  website/versioned_docs/version-29.3/getting-started/presets.md
  website/versioned_docs/version-29.3/getting-started/version-checking.md
  website/versioned_docs/version-29.3/guides/esm-support.md
  website/versioned_docs/version-29.3/guides/mock-es6-class.md
  website/versioned_docs/version-29.3/guides/react-native.md
  website/versioned_docs/version-29.3/guides/troubleshooting.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

docs: update README.md (#4772)
  README.md
Due: prettier --write

fix: fix high severity issue for `website`
  website/package-lock.json
Due: none

docs: improve support ESM doc
  website/docs/getting-started/installation.md
  website/docs/guides/esm-support.md
  website/versioned_docs/version-29.2/guides/esm-support.md
  website/versioned_docs/version-29.3/getting-started/installation.md
  website/versioned_docs/version-29.3/guides/esm-support.md
Due: prettier --write

build: bump `typescript` to latest
  e2e/enum/__tests__/enum.spec.ts
  e2e/enum/src/foo-constant.cjs
  e2e/enum/src/foo-constant.d.ts
  e2e/enum/src/foo-constant.mjs
  e2e/package-lock.json
  e2e/transform-js/__tests__/transform-js.spec.ts
  e2e/transform-js/jest-compiler-cjs.config.ts
  e2e/transform-js/jest-transpiler-cjs.config.ts
  e2e/transform-js/src/stateful.cjs
  e2e/transform-js/src/stateful.js
  examples/js-with-babel/package.json
  examples/js-with-ts/package.json
  examples/monorepo-app/package.json
  examples/package-lock.json
  examples/react-app/package.json
  examples/ts-only/package.json
  jest-e2e-cjs.config.ts
  jest-e2e-esm.config.ts
  package-lock.json
  package.json
  src/transpilers/typescript/transpile-module.spec.ts
  website/package-lock.json
  website/package.json
Due: eslint --fix

ci: don't run tests when there are only doc changes
  .github/workflows/ci.yml
  .github/workflows/doc-ci.yml
Due: prettier --write

refactor: remove unused codes in `json.ts`
  src/utils/json.spec.ts
  src/utils/json.ts
Due: eslint --fix

test: use `ts` Jest config files for e2e tests
  jest-e2e-cjs.config.ts
  jest-e2e-esm.config.ts
  jest.config.ts
  package.json
Due: eslint --fix

ci: configure Sonar code coverage
  .github/workflows/ci.yml
  .github/workflows/test.yml
  sonar-project.properties
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,cjs,mjs,jsx,ts,tsx}
  prettier --write: any of: *.{yml,yaml,md}
