Repository kulshekhar/ts-jest: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,cjs,mjs,jsx,ts,tsx}": ["eslint --fix"],
  "*.{yml,yaml,md}": ["prettier --write"]
}

test(compiler): skip unsupported module resolutions
  src/legacy/compiler/ts-compiler.spec.ts
Due: eslint --fix

build: use `isolatedModules: true` for building source
  tsconfig.build.json
Due: none

ci: rebuild dependencies from lockfile
  .github/actions/setup-workspace/action.yml
Due: prettier --write

fix: make config migration lossless
  src/cli/__fixtures__/esm-package/nested/package.json
  src/cli/__fixtures__/esm-package/package.json
  src/cli/__fixtures__/migrate-config.cjs
  src/cli/__fixtures__/migrate-config.cts
  src/cli/__fixtures__/migrate-config.js
  src/cli/__fixtures__/migrate-config.json
  src/cli/__fixtures__/migrate-config.mts
  src/cli/__fixtures__/migrate-config.ts
  src/cli/__snapshots__/cli.spec.ts.snap
  src/cli/cli.spec.ts
  src/cli/config/migrate.ts
  src/cli/helpers/presets.ts
Due: eslint --fix

feat: prepare v30 compatibility matrix
  .github/actions/setup-workspace/action.yml
  .github/workflows/ci.yml
  .github/workflows/test.yml
  .npmignore
  docs/plans/ts-jest-30-breaking-changes.md
  e2e/__tests__/package-consumer.test.ts
  e2e/package-consumer/__tests__/cjs.test.ts
  e2e/package-consumer/__tests__/esm.test.ts
  e2e/package-consumer/jest-cjs.config.cjs
  e2e/package-consumer/jest-esm.config.mjs
  e2e/package-consumer/package-lock.json
  e2e/package-consumer/package.json
  e2e/package-consumer/src/cjs-value.ts
  e2e/package-consumer/src/esm-value.ts
  e2e/package-consumer/tsconfig-cjs.json
  e2e/package-consumer/tsconfig-esm.json
  e2e/typescript-7-compat/package-lock.json
  e2e/typescript-7-compat/package.json
  e2e/typescript-pre-7-compat/package-lock.json
  e2e/typescript-pre-7-compat/package.json
  examples/package-lock.json
  examples/react-app/package.json
  package-lock.json
  package.json
  src/legacy/config/config-set.ts
  src/package-contract.spec.ts
Due: eslint --fix, prettier --write

feat: remove legacy transformer configuration
  src/__helpers__/fakers.ts
  src/cli/cli.spec.ts
  src/cli/config/migrate.ts
  src/legacy/config/config-set.spec.ts
  src/legacy/config/config-set.ts
  src/legacy/ts-jest-transformer.spec.ts
  src/legacy/ts-jest-transformer.ts
  src/types.ts
  src/utils/__snapshots__/backports.spec.ts.snap
  src/utils/backports.ts
  src/utils/logger.ts
  src/utils/messages.ts
  website/docs/getting-started/options.md
  website/docs/getting-started/options/isolatedModules.md
  website/docs/getting-started/options/stringifyContentPathRegex.md
  website/docs/getting-started/presets.md
Due: eslint --fix, prettier --write

feat: unify TypeScript transpilation
  e2e/__tests__/package-consumer.test.ts
  e2e/package-consumer/tsconfig-custom-conditions-preserve.json
  e2e/package-consumer/tsconfig-custom-conditions.json
  src/__mocks__/tsconfig-no-module-resolution.json
  src/legacy/compiler/ts-compiler.spec.ts
  src/legacy/compiler/ts-compiler.ts
  src/transpilers/typescript/transpile-module.spec.ts
  src/transpilers/typescript/transpile-module.ts
Due: eslint --fix

feat: remove deprecated public APIs
  .github/workflows/release.yml
  .github/workflows/tag-release.yml
  .github/workflows/test.yml
  .npmignore
  package.json
  scripts/lib/paths.js
  src/__mocks__/index.ts
  src/cli/cli.spec.ts
  src/cli/config/init.ts
  src/cli/config/migrate.ts
  src/cli/helpers/presets.ts
  src/cli/index.ts
  src/index.ts
  src/legacy/config/config-set.spec.ts
  src/legacy/config/config-set.ts
  src/presets/__snapshots__/create-jest-preset.spec.ts.snap
  src/presets/create-jest-preset.spec.ts
  src/presets/create-jest-preset.ts
  src/raw-compiler-options.ts
  src/types.ts
  tsconfig.type-tests.json
  type-tests/public-api.ts
  website/docs/getting-started/presets.md
Due: eslint --fix, prettier --write

fix: correct tsconfig option semantics
  e2e/jest.config.cts
  jest.config.ts
  src/legacy/compiler/ts-compiler.spec.ts
  src/legacy/config/config-set.spec.ts
  src/legacy/config/config-set.ts
  src/types.ts
  src/utils/messages.ts
  website/docs/getting-started/options/tsconfig.md
Due: eslint --fix, prettier --write

fix: make React tests emit-compatible
  examples/react-app/tsconfig.spec.json
Due: none

ci: use Node 20+
  .github/ISSUE_TEMPLATE/bug.yml
  .github/actions/setup-node/action.yml
  .github/workflows/ci.yml
Due: prettier --write

feat: support Babel 8 [GH-5412]
  e2e/__tests__/babel-8-compat.test.ts
  e2e/babel-8-compat/__tests__/cjs.spec.ts
  e2e/babel-8-compat/__tests__/esm.spec.ts
  e2e/babel-8-compat/babel.config.cjs
  e2e/babel-8-compat/jest-compiler-cjs.config.ts
  e2e/babel-8-compat/jest-compiler-esm.config.ts
  e2e/babel-8-compat/package-lock.json
  e2e/babel-8-compat/package.json
  e2e/babel-8-compat/src/cjs-message.js
  e2e/babel-8-compat/src/esm-message.ts
  e2e/babel-8-compat/tsconfig-cjs.spec.json
  e2e/babel-8-compat/tsconfig-esm.spec.json
  e2e/babel-8-compat/tsconfig.json
  package-lock.json
  package.json
Due: eslint --fix

chore!: drop support Node < 20
  package-lock.json
  package.json
Due: none

feat: support Babel 8 (#5466)
  e2e/__tests__/babel-8-compat.test.ts
  e2e/babel-8-compat/__tests__/cjs.spec.ts
  e2e/babel-8-compat/__tests__/esm.spec.ts
  e2e/babel-8-compat/babel.config.cjs
  e2e/babel-8-compat/jest-compiler-cjs.config.ts
  e2e/babel-8-compat/jest-compiler-esm.config.ts
  e2e/babel-8-compat/package-lock.json
  e2e/babel-8-compat/package.json
  e2e/babel-8-compat/src/cjs-message.js
  e2e/babel-8-compat/src/esm-message.ts
  e2e/babel-8-compat/tsconfig-cjs.spec.json
  e2e/babel-8-compat/tsconfig-esm.spec.json
  e2e/babel-8-compat/tsconfig.json
  package-lock.json
  package.json
Due: eslint --fix

perf(compiler): batch module resolution modes
  e2e/__tests__/performance.test.ts
  e2e/__tests__/source-map.test.ts
  e2e/performance/__tests__/perf.spec.ts
  e2e/performance/jest-compiler-cjs.config.ts
  e2e/performance/jest-transpiler-cjs.config.ts
  e2e/performance/package.json
  e2e/performance/src/value.ts
  e2e/performance/tsconfig-cjs-transpiler.spec.json
  e2e/performance/tsconfig-cjs.spec.json
  e2e/performance/tsconfig.json
  e2e/run-jest.ts
  e2e/utils.ts
  src/legacy/compiler/ts-compiler.spec.ts
  src/legacy/compiler/ts-compiler.ts
Due: eslint --fix

perf(compiler): cache module resolution modes (#5419)
  e2e/__tests__/performance.test.ts
  e2e/__tests__/source-map.test.ts
  e2e/performance/__tests__/perf.spec.ts
  e2e/performance/jest-compiler-cjs.config.ts
  e2e/performance/jest-transpiler-cjs.config.ts
  e2e/performance/package.json
  e2e/performance/src/value.ts
  e2e/performance/tsconfig-cjs-transpiler.spec.json
  e2e/performance/tsconfig-cjs.spec.json
  e2e/performance/tsconfig.json
  e2e/run-jest.ts
  e2e/utils.ts
  src/legacy/compiler/ts-compiler.spec.ts
  src/legacy/compiler/ts-compiler.ts
Due: eslint --fix

chore(release): 29.4.13
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore!: drop support Node < 20 (#5454)
  package-lock.json
  package.json
Due: none

revert: bring back prior changes of compiler util (#5471)
  src/legacy/compiler/compiler-utils.spec.ts
  src/legacy/compiler/compiler-utils.ts
Due: eslint --fix
