Repository kulshekhar/ts-jest: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,cjs,mjs,jsx,ts,tsx}": ["eslint --fix"],
  "*.{yml,yaml,md}": ["prettier --write"]
}

feat: support typescript v6
  package-lock.json
  package.json
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

OIDC
  .github/workflows/release-and-publish.yml
Due: prettier --write

chore: remove npm auth token
  .github/workflows/release-and-publish.yml
Due: prettier --write

fix: npm permissions
  .github/workflows/release-and-publish.yml
Due: prettier --write

chore(release): 29.4.8
  .github/workflows/release-and-publish.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: use correct registry for npm OIDC trusted publishing
  .github/workflows/release-and-publish.yml
Due: prettier --write

chore(release): bump version to 29.4.9
  package.json
Due: none

style: fix prettier formatting in release workflow
  .github/workflows/release-and-publish.yml
Due: prettier --write

ci: split sequential test steps into parallel jobs
  .github/workflows/test.yml
Due: prettier --write

ci: run sonar-scan in parallel with tests instead of after
  .github/workflows/ci.yml
Due: prettier --write

ci: remove prepare-cache jobs to eliminate serial overhead
  .github/workflows/ci.yml
Due: prettier --write

ci: optimize workflow duration by parallelizing test jobs (#5255)
  .github/workflows/ci.yml
  .github/workflows/test.yml
Due: prettier --write

test(compiler): cover both branches of the version-conditional moduleResolution
  src/legacy/compiler/ts-compiler.spec.ts
Due: eslint --fix

test(compiler): pin mockTsVersion on every test.each row for consistency
  src/legacy/compiler/ts-compiler.spec.ts
Due: eslint --fix

style(spec): apply Prettier formatting to the new test.each block
  src/legacy/compiler/ts-compiler.spec.ts
Due: eslint --fix

fix(compiler): gate Bundler default on TS >= 6 to avoid TS5095 in TS 5.x
  src/legacy/compiler/ts-compiler.spec.ts
  src/legacy/compiler/ts-compiler.ts
Due: eslint --fix

test(compiler): fold TS 6 coverage into existing test.each instead of duplicating
  src/legacy/compiler/ts-compiler.spec.ts
Due: eslint --fix

fix(compiler): default moduleResolution to Bundler instead of deprecated Node10
  src/legacy/compiler/ts-compiler.spec.ts
  src/legacy/compiler/ts-compiler.ts
Due: eslint --fix

fix(compiler): honour user's moduleResolution instead of forcing Node10
  e2e/tsconfig-cjs.spec.json
  e2e/tsconfig-esm.spec.json
  src/legacy/compiler/ts-compiler.spec.ts
  src/legacy/compiler/ts-compiler.ts
Due: eslint --fix

chore: add .worktrees to .gitignore
  .gitignore
Due: none

fix: transpile .mjs node_modules to CJS using virtual .js filename
  src/legacy/ts-jest-transformer.spec.ts
  src/legacy/ts-jest-transformer.ts
Due: eslint --fix
