Repository kulshekhar/ts-jest: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,cjs,mjs,jsx,ts,tsx}": ["eslint --fix"],
  "*.{yml,yaml,md}": ["prettier --write"]
}

feat: support hybrid module values for `isolatedModules: true`
  jest.config.ts
  package-lock.json
  package.json
  src/__helpers__/workspace-root.ts
  src/legacy/compiler/__snapshots__/ts-compiler.spec.ts.snap
  src/legacy/compiler/ts-compiler.spec.ts
  src/legacy/compiler/ts-compiler.ts
  src/legacy/config/config-set.ts
  src/transpilers/typescript/transpile-module.spec.ts
  src/transpilers/typescript/transpile-module.ts
  src/utils/messages.ts
Due: eslint --fix

docs: update new compiler options interface
  website/docs/getting-started/presets.md
Due: prettier --write

chore(release): 29.3.0
  CHANGELOG.md
  package-lock.json
  package.json
  website/package.json
  website/versioned_docs/version-29.3/babel7-or-ts.md
  website/versioned_docs/version-29.3/contributing.md
  website/versioned_docs/version-29.3/debugging.md
  website/versioned_docs/version-29.3/getting-started/installation.md
  website/versioned_docs/version-29.3/getting-started/options.md
  website/versioned_docs/version-29.3/getting-started/options/astTransformers.md
  website/versioned_docs/version-29.3/getting-started/options/babelConfig.md
  website/versioned_docs/version-29.3/getting-started/options/compiler.md
  website/versioned_docs/version-29.3/getting-started/options/diagnostics.md
  website/versioned_docs/version-29.3/getting-started/options/isolatedModules.md
  website/versioned_docs/version-29.3/getting-started/options/stringifyContentPathRegex.md
  website/versioned_docs/version-29.3/getting-started/options/tsconfig.md
  website/versioned_docs/version-29.3/getting-started/options/useESM.md
  website/versioned_docs/version-29.3/getting-started/paths-mapping.md
  website/versioned_docs/version-29.3/getting-started/presets.md
  website/versioned_docs/version-29.3/getting-started/version-checking.md
  website/versioned_docs/version-29.3/guides/esm-support.md
  website/versioned_docs/version-29.3/guides/mock-es6-class.md
  website/versioned_docs/version-29.3/guides/react-native.md
  website/versioned_docs/version-29.3/guides/troubleshooting.md
  website/versioned_docs/version-29.3/guides/using-with-monorepo.md
  website/versioned_docs/version-29.3/introduction.md
  website/versioned_docs/version-29.3/migration.md
  website/versioned_docs/version-29.3/processing.md
  website/versioned_sidebars/version-29.3-sidebars.json
  website/versions.json
Due: prettier --write

ci: configure Sonar code coverage
  .github/workflows/ci.yml
  sonar-project.properties
Due: prettier --write

Remove `restore-keys`
  .github/actions/setup-workspace/action.yml
Due: prettier --write

ci: remove `restore-keys` in cache `node_modules` step (#4747)
  .github/actions/setup-workspace/action.yml
Due: prettier --write

Add NPM cache
  .github/actions/setup-workspace/action.yml
Due: prettier --write

Remove --no-audit
  .github/actions/setup-workspace/action.yml
Due: prettier --write

build: bump `typescript` to latest
  examples/js-with-babel/package.json
  examples/js-with-babel/tsconfig.json
  examples/js-with-ts/package.json
  examples/js-with-ts/tsconfig.json
  examples/monorepo-app/package.json
  examples/monorepo-app/tsconfig.base.json
  examples/package-lock.json
  examples/react-app/package.json
  examples/react-app/tsconfig.spec.json
  examples/ts-only/package.json
  examples/ts-only/tsconfig.json
  examples/type-module/package.json
  package-lock.json
  package.json
  src/transpilers/typescript/transpile-module.spec.ts
  website/package-lock.json
  website/package.json
Due: eslint --fix

fix: allow `isolatedModules` mode to have Program under `Node16/Next`
  src/legacy/compiler/ts-compiler.spec.ts
  src/legacy/compiler/ts-compiler.ts
  src/transpilers/typescript/transpile-module.spec.ts
  src/transpilers/typescript/transpile-module.ts
  website/docs/guides/esm-support.md
  website/versioned_docs/version-29.3/guides/esm-support.md
Due: eslint --fix, prettier --write

docs: indicate clearer about `isolatedModules` deprecation
  website/docs/getting-started/options/isolatedModules.md
  website/versioned_docs/version-29.3/getting-started/options/isolatedModules.md
Due: prettier --write

fix: improve message for `isolatedModules` of `ts-jest` config
  src/utils/messages.ts
Due: eslint --fix

chore(release): 29.3.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

docs: improve support ESM doc
  website/docs/guides/esm-support.md
  website/versioned_docs/version-29.0/guides/esm-support.md
  website/versioned_docs/version-29.2/guides/esm-support.md
  website/versioned_docs/version-29.3/guides/esm-support.md
Due: prettier --write
