Repository kulshekhar/ts-jest: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,cjs,mjs,jsx,ts,tsx}": ["eslint --fix"],
  "*.{yml,yaml,md}": ["prettier --write"]
}

Fix Node.js v14 compatibility by replacing ??= operator with equivalent if-null check (#5036)
  src/transpilers/typescript/transpile-module.ts
Due: eslint --fix

build: add `conventional-changelog-angular` dep for CHANGELOG generation
  package-lock.json
  package.json
Due: none

chore(release): 29.4.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 29.4.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

docs: correct link to doc for `transpilation` option
  src/utils/messages.ts
Due: eslint --fix
